/* Styles.css */

/* Container */
.container {
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 2000px;
}

/* Heading */
.mb-8 {
  margin-bottom: 20px;
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
}

.font-bold {
  font-weight: 700;
}

/* Buttons */
.button-container {
  margin-bottom: 20px;
}

.button-container a {
  margin-right: 10px;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-supplier {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-report-button {
  background-color: #3498db; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-report-button:hover {
  background-color: #2980b9; /* Darker Blue */
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table Header */
.table th {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px;
  text-align: left;
}

/* Table Body */
.table td {
  padding: 15px;
}

/* Table Rows */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

/* Edit and Delete Buttons */
.action-buttons a {
  margin-right: 10px;
  color: #3498db; /* Blue */
  text-decoration: none;
}

.edit-btn {
  background-color: #e74c3c; /* Red */
  color: rgb(64, 73, 202);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}
.delete-btn {
  background-color: #753737;
  color: rgb(238, 5, 5);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.edit-btn:hover {
  background-color: #1a0cdf; /* Darker Red */
}
.delete-btn:hover {
  background-color: #c0392b; /* Darker Red */
}

